/* CSS Grid */

/* Container Properties
grid-template-rows
grid-template-columns
grid-template-areas
grid-auto-rows
grid-auto-columns
grid-auto-flow
grid-column-gap
column-gap
grid-row-gap
row-gap
grid-gap
gap
justify-items
align-items
justify-content 
align-content*/

/* Grid Item Properties */
/* grid-column-start
grid-column-end
grid-column
grid-row-start
grid-row-end
grid-row
grid-area
justify-self
align-self */

* {
	box-sizing: border-box;
}

.container {
	background-color: gold;
	padding: 5px;
	display: grid;
	/* grid-template-columns: 200px 300px 200px; */
	/* grid-template-columns: 20% 20% 20%; */
	/* grid-template-columns: 1fr 5fr 1fr; */
	/* grid-template-columns: repeat(5, 1fr); */
	/* grid-auto-rows: minmax(100px, auto); */
	/* grid-auto-columns: ; */

	/* justify-content: center; */
	/* align-content: end; */
	/* align-items: end; */
	/* justify-items: center; */
	/* column-gap: 10px; */
	/* row-gap: 10px; */
	gap: 10px;
	grid-template-areas:
		"H H H"
		"N C S"
		"N F F";
	grid-auto-rows: 100px minmax(600px, auto) 100px;
	grid-auto-columns: 300px 1fr 300px;
}

.grid-item {
	background-color: rgb(225, 235, 240);
	color: black;
	font-size: 40px;
	padding: 10px;
	border: black 1px solid;
	/* margin: 20px; */
}

.header {
	grid-area: H
}

.nav {
	grid-area: N;
}

.content {
	grid-area: C;
}

.sidebar {
	grid-area: S;
}

.footer {
	grid-area: F;
}

@media (max-width: 768px) {
	.container {
		grid-template-areas:
			"H H"
			"C C"
			"N S"
			"F F";
		grid-auto-columns: auto;
	}


}

@media (max-width: 480px) {
	.container {
		grid-template-areas:
			"H"
			"C"
			"N"
			"S"
			"F";
		grid-auto-columns: auto;
		grid-auto-rows: auto;
	}
}