* {
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.5rem;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

h1 {
	text-align: center;
}


.section,
.section h2 {
	color: #fff
}

.section1 {
	background-color: #8d2d2f;
}

.section2 {
	background-color: #1a2f9c;
}

.section3 {
	background-color: #7d932e;
}

.section1 h2 {
	background-color: #ec6164;
}

.section2 h2 {
	background-color: #3054dc;
}

.section3 h2 {
	background-color: #b3d63e;
}

.flex-container {
	display: flex;
	gap: 10px;
}

.flex-container h2 {
	display: inline-block;
	margin: 0;
	padding: 10px 20px;
	position: absolute;
	right: 0;
	top: 0;
}

.section {
	/* padding: 1em; */
	color: #fff;
	position: relative;
	padding-top: 40px;
}



.flex-container div {
	margin: 20px;
	text-align: justify
}

@media (max-width: 900px) {

	.flex-container {
		flex-wrap: wrap;
	}

	.section1 {
		flex-basis: 100%;
	}

	.section2,
	.section3 {
		flex-basis: calc(50% - 5px);
	}
}

@media (max-width: 480px) {

	.flex-container {
		flex-wrap: wrap;
	}

	.section1,
	.section2,
	.section3 {
		flex-basis: 100%;
	}
}